<div class="splash-container">
  <div class="action-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { data: { turbo: false} }, class: 'form-container sign-form') do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="input_wrapper">
        <%= f.label :name, class: 'form-label' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "text", class: 'form-name' %>
      </div>

      <div class="input_wrapper">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-name' %>
      </div>

      <div class="input_wrapper">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-name' %>
      </div>

      <div class="input_wrapper">
        <%= f.label :password_confirmation, class: 'form-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-name' %>
      </div>

        <%= f.submit "Sign up", class: 'login-btn' %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>