<section class="section">
  <h2 class="section-heading">Add New Category</h2>
  <%= form_with model: @category, url: categories_path ,class: 'form-container' do |form| %>
    <%= form.label 'Name (should be greater than 5 character)' ,class: 'form-label' %>
    <%= form.text_field :name, autofocus: true, class: 'form-name', required: true %>
    <%= form.label :icon, class: 'form-label icon' %>
    <ul class="icon-container">
      <% @icons.each do |icon| %>
        <li class="icon-list">
          <label class='icon-label'>
            <%= form.radio_button :icon, "icon/#{icon}", autofocus: true, required: true %>
            <%= image_tag "icon/#{icon}", class: 'icon-img' %>
          </label>
        </li>
      <% end %>
    </ul>
    <%= form.submit "Add Category", class: "form-btn" %>
  <% end %>
</section>