<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <ul class="nav">
        <li class="menu">
          <%= link_to "", categories_path, class: 'fa-sharp fa-solid fa-left-long' %>
        </li>
        <li class="menu">Category</li>
        <li class="menu">
          <button class="button">
            <i class="fa-solid fa-power-off"></i>
          </button>
        </li>
        </li>
      </ul>
    </header>
    
    <%= yield %>
  </body>
</html>
